@import "global.css";
@import "colors.css";

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 10px;
  padding: 2rem;
  border-radius: 20%;
}

a:hover {
  background-color: rgb(211, 203, 203);
}

h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgba(200, 150, 12, 0.582);
}

#home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /*align-items: stretch;*/
}

p {
  max-width: 80ch;
}

.me {
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin: 20px;
}

h2 {
  font-family: "Roboto Slab", serif;
  padding: 5px;
  color: rgba(200, 150, 12, 0.582);
}

h3 {
  color: rgba(133, 103, 20, 0.582);
}

#bio {
  padding: 10px;
  margin: 20px;
}

#contact {
  padding: 10px;
  margin: 20px;
}

#projects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 400px;
  margin: 10px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5%;
  box-shadow: 3px 3px gray;
}

img {
  max-width: 100%;
  height: auto;
}

.projects_photo {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.liststyle {
  list-style-type: circle;
}

.position {
  font-weight: bolder;
  color: rgba(133, 103, 20, 0.582);
}

footer a {
  text-decoration: none;
  background-color: antiquewhite;
  text-align: center;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px;
}
