* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px 1px 1px 10px;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgba(200, 150, 12, 0.582);
}

h2 {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  color: rgba(200, 150, 12, 0.582);
}

h3 {
  color: rgba(133, 103, 20, 0.582);
}

.me {
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.liststyle {
  list-style-type: circle;
}
#contactinfo {
  list-style: none;
}

.worksphoto {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
