* {
  box-sizing: border-box;
}

body {
  font-family: "Tapestry", cursive;
}
h1 {
  color: blue;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 5px 20px 5px 35px;
  font-size: 1.7rem;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 8px;
  justify-content: space-evenly;
  background-color: aliceblue;
  padding: 10px;
}

img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 330px;
  margin: 30px;
}
