* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px 1px 1px 10px;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: rgb(74, 136, 105) 5px 0 10px;
  font-family: "Roboto Slab", serif;
}

.me {
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#firstpage {
  background-color: rgb(234, 244, 238);
}

#contact {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  background-color: rgb(198, 196, 196);
  text-align: center;
}

.liststyle {
  list-style-type: circle;
}
#contactinfo {
  list-style: none;
}
#projects {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  background-color: rgb(198, 196, 196);
  text-align: center;
}

#secondpage {
  background-color: rgb(234, 244, 238);
}

#resume {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  background-color: rgb(198, 196, 196);
  text-align: center;
}

#thirdpage {
  background-color: rgb(234, 244, 238);
}
