* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /*display: flex;*/
  margin: 60px;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgba(200, 150, 12, 0.582);
}

#firstpage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /*align-items: stretch;*/
}

h2 {
  font-family: "Roboto Slab", serif;
  padding: 5px;
  color: rgba(200, 150, 12, 0.582);
}

h3 {
  color: rgba(133, 103, 20, 0.582);
}

.me {
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin: 20px;
}

#bio {
  padding: 10px;
  margin: 20px;
}

#contact {
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
}

#projects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 400px;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.projects_photo {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.liststyle {
  list-style-type: circle;
}
