* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(234, 234, 225);
  /*display: flex;*/
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px 1px 1px 10px;
  font-size: 2.4vw;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

h1 {
  font-size: 6vw;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgba(200, 150, 12, 0.582);
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 4vw;
  text-decoration: underline;
  padding: 5px;
  color: rgba(200, 150, 12, 0.582);
}

p {
  font-size: 2.4vw;
}

h3 {
  color: rgba(133, 103, 20, 0.582);
  font-size: 3vw;
}

.me {
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contactinfo {
  list-style: none;
  font-size: 2.4vw;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}
.projects_photo {
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.liststyle {
  list-style-type: circle;
  font-size: 2.4vw;
}
