* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

.me {
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
