* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.coding {
  max-width: 100%;
  height: 50px;
  border-radius: 10%;
}
.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px 1px 1px 10px;
}

nav {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

nav a {
  color: black;
  text-decoration: none;
  gap: 8px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: rgb(121, 160, 140) 5px 0 10px;
  font-family: "Roboto Slab", serif;
}

.me {
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#firstpage {
  background-color: rgb(240, 245, 242);
}

#contact {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
  background-color: rgb(225, 224, 224);
}

.liststyle {
  list-style-type: circle;
}
#contactinfo {
  list-style: none;
}
#projects {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
  background-color: rgb(225, 224, 224);
}

#secondpage {
  background-color: rgb(240, 245, 242);
}

#resume {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  padding: 5px;
  background-color: rgb(225, 224, 224);
  text-align: center;
}

#thirdpage {
  background-color: rgb(240, 245, 242);
}
